@use "variables";
@use "animations";

.ripple {
  position: fixed;

  background-color: variables.$text-color;

  $square: 100vw*2;
  width: $square;
  height: $square;

  border-radius: 50%;
  
  pointer-events: none;

  opacity: 0.8;
  filter: blur(variables.$blur-amount);
  animation: ripple variables.$anim-time forwards;
}