@keyframes fadeInUnblur {
  0% {
    opacity: 0;
    text-shadow: 0 0 0 $shadow-color;
    filter: blur($blur-amount);
  }

  100% {
    opacity: 1;
    text-shadow: 0 0 $shadow-amount $shadow-color;
    filter: blur(0px);
  }
}

@keyframes glow {
  0% {
    color: lighten($text-color, $lighten-by);
    text-shadow: 0 0 calc($shadow-amount * 2) $shadow-color;
  }

  100% {
    color: $text-color;
    text-shadow: 0 0 $shadow-amount $shadow-color;
  }
}

@keyframes lineglow {
  0% {
    width: 0;
    border: 1px solid lighten($text-color, $lighten-by);
    filter: blur($blur-amount) drop-shadow(0 0 $blur-amount);
  }

  100% {
    width: 100%;
    border: 1px solid $text-color;
    filter: blur(0px) drop-shadow(0 0 $blur-amount);
  }
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.8;
  }
  
  100% {
    transform: scale(1);
    opacity: 0;
  }
}