extends layout.pug

block prepend content
    - var title = "404 not found"
    - var subtitle = "404"
    - var text = "not found"

block scripts 
  script(
      src="/src/js/404.ts"
      type="module"
  )