extends ./common/templates/layout.pug

block prepend content
    - var title = "404 not found"
    - var subtitle = "404"
    - var text = "not found..."

block scripts 
  script(
      src="404.ts"
      type="module"
  )

block append text
  a.btn(href="/")
    i.fa-solid.fa-house