body {
    background-color: #060606;
    color: #859900;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text {
    font-size: xx-large;
    opacity: 0;
    filter: blur(5px);
    text-align: center;
    font-family: "Kode Mono", monospace;
    animation: fadeInUnblur 1s forwards;
}

.text>* {
    height: 100px;
}

@keyframes fadeInUnblur {
    0% {
        opacity: 0;
        text-shadow: 0 0 0 #666;
        filter: blur(5px) drop-shadow(0px 0px 0px #666);
    }

    100% {
        opacity: 1;
        text-shadow: 0 0 2px #666;
        filter: blur(0px) drop-shadow(0px 0px 1px #666);
    }
}

/* Copyright 2023 The Kode Mono Project Authors (https://github.com/isaozler/kode-mono) */
@font-face {
    font-family: "Kode Mono";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/KodeMono-Regular.ttf") format("truetype");
}