$font-family: "Kode Mono", monospace;
$text-color: #859900;
$background-color: #060606;
$selection-color: #666;
$blur-amount: 5px;
$shadow-amount: 5px;
$shadow-color: $text-color;
$font-size: 1.66em;
$anim-time: 0.666s;
$lighten-by: 16%;

body {
    background: $background-color;
    color: $text-color;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text {
    font-size: $font-size;
    text-align: center;
    font-family: $font-family;
}

.text>*:not(.line) {
    animation: fadeInUnblur 1s forwards;
}

@keyframes fadeInUnblur {
    0% {
        opacity: 0;
        text-shadow: 0 0 0 $shadow-color;
        filter: blur($blur-amount);
    }

    100% {
        opacity: 1;
        text-shadow: 0 0 $shadow-amount $shadow-color;
        filter: blur(0px);
    }
}

.glow {
    animation: glow 1s forwards;
}

@keyframes glow {
    0% {
        color: lighten($text-color, $lighten-by);
        text-shadow: 0 0 calc($shadow-amount*2) $shadow-color;
    }

    100% {
        color: $text-color;
        text-shadow: 0 0 $shadow-amount $shadow-color;
    }
}

.text>* {
    height: auto;
    margin: 0;
}

.text>*::selection {
    background: $selection-color;
}

.line {
    height: 0;
    animation: lineglow $anim-time forwards;
}

@keyframes lineglow {
    0% {
        width: 0;
        opacity: 0;
        border: 1px solid lighten($text-color, $lighten-by);
        filter: blur(calc($blur-amount/2)) drop-shadow(0 0 calc($blur-amount));
    }

    50% {
        width: 100%;
    }

    100% {
        width: 100%;
        opacity: 1;
        border: 1px solid $text-color;
        filter: blur(0px) drop-shadow(0 0 $blur-amount);
    }
}

/* Copyright 2023 The Kode Mono Project Authors (https://github.com/isaozler/kode-mono) */
@font-face {
    font-family: "Kode Mono";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/KodeMono-Regular.ttf") format("truetype");
    font-display: swap;
}