:root {
    --font-family: "Kode Mono", monospace;
    --text-color: #859900;
    --background-color: #060606;
    --selection-color: #666;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text {
    font-size: xx-large;
    opacity: 0;
    filter: blur(5px);
    text-align: center;
    font-family: var(--font-family);
    animation: fadeInUnblur 1s forwards;
}

.text>* {
    height: 100px;
}
.text>*::selection {
    background: var(--selection-color);
}

@keyframes fadeInUnblur {
    0% {
        opacity: 0;
        text-shadow: 0 0 0 #666;
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        text-shadow: 0 0 8px #666;
        filter: blur(0px);
    }
}

/* Copyright 2023 The Kode Mono Project Authors (https://github.com/isaozler/kode-mono) */
@font-face {
    font-family: "Kode Mono";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/KodeMono-Regular.ttf") format("truetype");
}