extends ../layout.pug

block prepend content
  - var title = "ts status"
  - var subtitle = "-"
  - var text = "clients in teamspeak"

block scripts 
  script(
      src="/src/js/ts-status.js"
      type="module"
  )

block append text
  p.hint connect via 0x29a.me:25565
  a(href="ts3server://0x29a.me:25565")
    i.fa-solid.fa-right-to-bracket