extends ../layout.pug

block prepend content
  - var title = "ts status"
  - var subtitle = "-"
  - var text = "clients in teamspeak"

block scripts 
  script(
      src="/src/js/ts-status.js"
      type="module"
  )

block append subcontainer
  p.hint connect via 0x29a.me:25565
  
block append text
  a.btn(href="ts3server://0x29a.me:25565")
    i.fa-solid.fa-microphone
  a.btn(href="#" id="shareButton")
    i.fa-solid.fa-share
  a.btn(href="javascript:alert('coming soon')")
    i.fa-solid.fa-search