- var title = "ts player list"
- var subtitle = "players online:"
- var hint = "  connect: 0x29a.me:25565"
- var text = "Nobody is Online"     
- var script = "/src/js/ts-player-list.js"

include ../layout.pug